html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;

}

form > button.icon-link {
    padding: 8px 10px;
    display: flex; /*enables flexbox layout*/
    align-items: center; /*centers items vertically*/
    text-decoration: none; /*removes underline from text*/
    cursor: pointer;
    border: none; /*removes default button border*/
    background: none; /*removes default button styling*/
    width: 100%; /*makes the button take up the full width of its container*/
}

form > button.icon-link {
    margin-right: 8px; /*adds space between the icon and the text*/
}